body{
  /* background-image: url(../img/earth5.jpg); */
  /* background-size: cover ; */
  background-color: black;
   font-family: "Pacifico", cursive;
}

.navbar{
  background-color: #3A497B !important;
  margin-top: 200px;
  font-weight: 400;
  font-style: normal;
  width: 80%;
  margin: auto;
  
}

.navbar ul li a{
  color: white;
}
.navbar ul li{
  padding-left: 10px;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
}

.navbar ul li a:hover{
  color: #098DC0;
}
.navbar img{
  width: 50px;
}

.card img{
  height: 200px;
}
.title .btn_custom{
background-color: #3A497B;
color: white;
}


.card .link_group a{
  text-decoration: none;
  color: white;
  /* height: 20px; */
}
.card{
  cursor: pointer;
  transition: all .4s;
  

}
.card:hover{
transform: scale(1.05);


}
.card:hover .btn_custom{
  background-color: #0D6EFD;
  
}

.m-t{
  margin-top: 200px !important;
}
.badge{
  background-color: #0DCAF0;
  color: black;
}
.details{
  color: white;
  width: 80%;
}
.details .w-29{
  width: 29% !important;
}
.details .w-69{
  width: 69% !important;
}
.details-img{
width: 100%;
}

.layer i{
  cursor: pointer;
}